@use 'variables' as v;
@use 'mixins' as m;

.user-cards-container {
  width: 100%;
  height: 100%;
  margin-top: 50px;
  display: grid;
  place-items: center;
  gap: 20px;
  &__card {
    width: 250px;
    height: 400px;
    border-radius: 20px;
    border: 1px solid v.$primary-text-color;
    padding: 10px 25px;
    display: grid;
    align-content: space-evenly;
    grid-template-rows: 150px 200px;
    grid-template-columns: auto;
    &--image-container {
      justify-self: center;
      .external-wrapper{
        width: 150px;
        height: 150px;
        border-radius: 50%;
        border: 1px dashed v.$primary-text-color;
        padding: 15px;
        .inner-wrapper{
          width: 120px;
          height: 120px;
          padding: 15px;
          border-radius: 50%;
          border: 1px dashed v.$primary-text-color;
          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            border-radius: 50%;
          }
        }
      }
    }
    &--info {
      width: 100%;
      height: 100%;
      align-self: end;
      display: grid;
      &--title {
        letter-spacing: 1px;
        font-size: 1.8rem;
        font-weight: v.$extrabold-weight;
        display: block;
        margin-bottom: 8px;
        color: v.$secondary-text-color;
      }
      &--text {
        font-size: 1.6rem;
        font-weight: v.$semibold-weight;
        color: rgba($color: v.$primary-color, $alpha: 0.7);
      }
      &--info-id, &--info-telephone, &--info-email {
        color: black;
        font-size: 1.4rem;
      }
      &--buttons-container {
        width: 100%;
        display: flex;
        justify-content: space-around;
        .card-button {
          cursor: pointer;
          width: 90px;
          height: 30px;
          border: none;
          background-color: v.$primary-color;
          color: #FFFFFF;
          border-radius: 10px;
          font-size: 1.4rem;
          font-weight: v.$semibold-weight;
          letter-spacing: 1px;
        }
        .delete {
          background-color: v.$error-color;
        }
      }
    }
  }
  @media (min-width: 1115px) {
    grid-template-columns: repeat(4, 1fr);
  }
}

i {
  color: v.$secondary-text-color;
}

div:where(.swal2-container) button:where(.swal2-styled).swal2-confirm {
  background-color: v.$primary-color !important;
  box-shadow: 10px 12px 21px -11px #FF7D1A !important;
}