// Global variables
$primary-color: #FF7D1A;
$secondary-text-color: #d66108;
$secondary-color: 	#ffede0;
$primary-text-color: #68707d;
$black-modal: hsl(0, 0%, 0%, 0.5);
$error-color: hsl(0, 100%, 66%);
$font-stack: 'Kumbh Sans', sans-serif;
$regular-weight: 400;
$medium-weight: 500;
$semibold-weight: 600;
$extrabold-weight: 700;
