@use 'variables' as v;
@use 'header';
@use 'navbar';
@use 'modalNavbar';
@use 'gallery';
@use 'productDetails';
@use 'quantity';
@use 'modalCart';
@use 'modalGallery';
@use 'home';
@use 'modalCheckout';
@use 'footer';
@use 'register';
@use 'accounts';
@use 'modalUploadAccount';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
	font-family: v.$font-stack;
  width: 100%;
  height: 100%; 
  .wrapper {
    width: 375px;
    margin: auto;
    position: relative;
    @media (min-width: 1115px) {
      width: 1115px;
    }
  }
  .footer {
    height: auto;
    @media (min-width: 1115px) {
      width: 1115px;
      height: auto;
    }
  }
}

ul {
	list-style: none;
}

a {
	text-decoration: none;
}



.main-content {
  position: relative;
  @media (min-width: 1115px) {
    // display: none;
    display: flex;
    gap: 124px;
    padding: 90px 50px;
  }
}

.show {
  display: grid;
  grid-template-rows: 80px 1fr;
}

.cart-empty {
  text-align: center;
  font-size: 1.8rem;
  color: v.$primary-text-color;
  margin-top: 25px;
}

::selection {
  background-color: rgba($color: v.$primary-color, $alpha: 0.3);
  color: #ffffff;
}